<div class="d-flex justify-content-center align-items-center text-center" style="height: 100vh;">
    <div class="card p-5" style="width: 400px;">
        <form [formGroup]="signupForm" (submit)="onSubmit()">
            <div>
                <h3>Registro</h3>
                <p>Introduce los siguientes datos para el registro</p>
            </div>
            <div>
                <input type="text" class="form-control mb-3" placeholder="Correo electronico" id="email"
                    formControlName="email">
                <input type="password" class="form-control mb-3" placeholder="Contraseña" id="password"
                    formControlName="password">
            </div>
            <button type="submit" class="btn btn-primary w-100">Iniciar sesión</button>
        </form>
        <button (click)="signUpWithGoogle()" class="google-btn">
            <img src="https://img.icons8.com/color/16/000000/google-logo.png" />
            Registro con Google
        </button>
    </div>
</div>
