<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="row w-75">
        <div class="col d-flex align-items-center justify-content-center">
            <div>
                <p class="fw-bold display-4 ">Bienvenido a PhotoPic</p>    
            </div>
        </div>
        <div class="col text-center align-items-center justify-content-center">
            <h5>Comienza a usar PhotoPic</h5>
            <p>PhotoPic es la solución moderna para fotógrafos que buscan seguridad y eficiencia en la entrega de sus trabajos.</p>
            <div class="row my-4">
                <div class="col">
                    <button class="w-100" mat-flat-button routerLink="login">Soy fotografo</button>
                </div>
                <div class="col">
                    <button class="w-100" mat-flat-button routerLink="code">Soy cliente</button>
                </div>
            </div>
        </div>
    </div>
</div>
