<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="row w-75">
        <div class="col">
            <div class="display-4">Descarga la App</div>
            <p>Antes de continuar debes descargar nuestra app móvil.
                No te preocupes, es realmente ligera y no necesita
                mayor configuración
            </p>
        </div>
        <div class="col text-center justify-content-center align-items-center">
            <p>Descarga aqui</p>
            <img src="/public/codigoqr.png" alt="codigo">
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style" hideSingleSelectionIndicator="true">
                    <mat-button-toggle value="android">
                        <mat-icon fontIcon="android"></mat-icon>
                        android
                    </mat-button-toggle>
                    <mat-button-toggle value="ios">
                        <mat-icon fontIcon="ios"></mat-icon>
                        iOS
                    </mat-button-toggle>
                </mat-button-toggle-group>
        </div>
    </div>
</div>