:root {
    --primary: #3d5a80;
    --secondary: #98c1d9;
    --accent: #ee6c4d;
    --light: #e0fbfc;
    --dark: #293241;
}


.content-wrapper {
    margin-left: 250px;
}

@media (max-width: 768px) {
    .content-wrapper {
        margin-left: 0;
    }
}